*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Open Sans", sans-serif;
}
body
{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(#e0eafc,#cfdef3);
}
.container
{
    width: 300px;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    text-align:center;
    background-color:white;
    margin-left:-35px;
}
.fa-regular
{
    font-size: 40px;
    margin-top: 10vh;
    color: black;
}
h3
{
    margin-top:8vh;
    color: black;
}
a
{
    text-decoration: none;
    border:1px solid #3ca9e2 ;
    border-radius: 3px;
    padding: 10px 35px;
    color:#3ca9e2;
    margin-top: 200px;
    cursor: pointer;
}
a:hover
{
    background-color:#3ca9e2;
    cursor: pointer;
    color: white;
}
a:active
{
    text-decoration: none;
    color:white;
}
.bottom
{
    margin-top: 200px;
}